# SPDX-FileCopyrightText:  PyPSA-Earth and PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class
.ipynb_checkpoints

# General untracked file formats
*.log
**/pbf
*.pbf
*.zip
*.png
*.done

# Untracked files
dag.svg
notater.txt
create_new_cost_files.py
line_cap.ipynb

# Files appear for tests
configs/scenarios/config.custom.yaml
data/*.csv
data/*.geojson

# Untracked folders (and files within)
.snakemake/incomplete/*
.snakemake/locks/*
.snakemake/metadata/*
.snakemake/shadow/*
analysis_montecarlo/
analysis_scripts/old_analysis_scripts/
analysis_scripts/reliability/
benchmarks/
cutouts/
data/
diverse/
figures/
logs/*
networks/
resources/
result_data/
result_dfs/
results/
run_scripts/
custom_files/old/
sudden_4/
sudden_007/
sudden_010/
sudden_2011/
sudden_2018/
sudden_2025_correct/
sudden_cost/
sudden_nze_2025_correct/
final_results/

configs/scenarios/config.*.yaml
!configs/scenarios/config.NG.yaml


# Untrack some Jupyter changes
.ipynb_checkpoints
notebooks/*.nc
notebooks/*.csv
notebooks/*.zip
notebooks/*.tif
notebooks/old_notebooks/*.nc
notebooks/old_notebooks/*.csv
notebooks/old_notebooks/*.zip
notebooks/old_notebooks/*.tif

# Untrack test doc builds
doc/_build

# VS code related
*.vscode
doc/*.vscode/settings.json
*.vscode/settings.json
*.code-workspace

# Additional debugging folders
backup*
screenlog*
